<header class="title">{{phone.title}}</header>
<section class="image">
    <img src="{{phone.image}}"/>
    <span class="desc">"{{phone.description}}"</span>
</section>
<article class="details">
  <ul>
    <li><b>Batería:</b> {{phone.battery}}</li>
    <li><b>Cámara: </b>{{phone.camera}}</li>
    <li><b>Color: </b>{{phone.color}}</li>
    <li><b>Pantalla: </b>{{phone.display}}</li>
    <li><b>Sistema: </b>{{phone.os}}</li>
    <li><b>Precio: </b>{{phone.price}}</li>
    <li><b>Ram: </b>{{phone.ram}}</li>
    <li><b>Almacenamiento: </b>{{phone.storage}}</li>
  </ul>
</article>
