/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  --color-main: #1B2F47;
  --color-secundary: #476A94;
  --color-highlight: #FFFFFF;
  --color-special: #8DA9AB;
  --font-color: #E0E0E8;
}
a, span, label, div, header, article {
  color: var(--color-highlight);
  font-size: 16px;

}

.label {
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--background-highlight);
  text-align: center;
  flex: 1 1 100%;
  display: block;
  margin-bottom: 3px;
}

.panel {
  background-color: var(--background);
  margin-top: 10px;
  flex-flow: row wrap;
}
